                        .msg {
                            color: black
                        }
                        
                        .ms {
                            border: 2px solid black
                        }
                        
                        body {
                            background: url('../cat.jfif')
                        }